In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Data Professional Survey.xlsx')
df = df.iloc[:,10:]
df

,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,8.0,5.0,6.0,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,4.0,6.0,7.0,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,8.0,7.0,6.0,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [3]:
col_names = []
for x in range(1,len(df.columns)+1):
    col_names.append('Q'+str(x))
    
df.columns = col_names
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,8.0,5.0,6.0,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,4.0,6.0,7.0,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,8.0,7.0,6.0,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [4]:
# rename columns for better clarity
new_names = {
            'Q1': 'Current_Role_raw',
            'Q2': 'Switched careers into data',
            'Q3': 'Current annual salary (USD)',
            'Q4': 'Industry_raw',
            'Q5': 'Favourite programming language raw',
            'Q6': 'Satisfication with current salary',
            'Q7': 'Work/life balance satisfaction',
            'Q8': 'Coworkers satisfaction',
            'Q9': 'Mangement satisfaction',
            'Q10': 'Upward mobility satisfaction',
            'Q11': 'Learning new things satisfaction',
            'Q12': 'Difficulty of breaking into data',
            'Q13': 'Most important aspect in looking for new job raw',
            'Q14': 'Gender',
            'Q15': 'Age',
            'Q16': 'Country_raw',
            'Q17': 'Highest education',
            'Q18': 'Ethnicity_raw',
            'q1_others': 'current_role',
            'q3_cat':'Salary Category',
            'q3_sgd_annual': 'Current annual salary (SGD)',
            'q3_sgd_monthly':'Current monthly salary (SGD)',
            'q4_others': 'Industry',
            'q5_others': 'Favourite programming language',
            'q13_others':'Most important aspect in looking for new job',
            'q15_bins': 'Age Group',
            'q16_others': 'Country',
            'q16_continent': 'Continent',
            'q18_others':'Ethnicity'
}
#df.columns = df.columns.map(new_names)
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,8.0,5.0,6.0,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,4.0,6.0,7.0,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,8.0,7.0,6.0,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [5]:
# Q1 (current role)
# Cleaning "Others" section
import numpy as np
import re

title_map = {'Other (Please Specify):Analytics Consultant':'Other',
            'Other (Please Specify):FP&A Analyst':'Data Analyst',
            'Other (Please Specify):BI Developer':'Database Developer',
            'Other (Please Specify):Manager, Business Intelligence Develop':'Database Developer',
            'Other (Please Specify):Business Analyst':'Data Analyst',
            'Other (Please Specify):Business Intelligence Consultant':'Other',
            'Other (Please Specify):Sr. Supply Chain Analyst':'Data Analyst',
            'Other (Please Specify):Business analyst':'Data Analyst',
            'Other (Please Specify):Learning Management Specialist':'Other',
            'Other (Please Specify):Research Analyst':'Data Analyst',
            'Other (Please Specify):Insights analyst':'Data Analyst',
            'Other (Please Specify):Does a social media analyst count?':'Data Analyst',
            'Other (Please Specify):Educator':'Other',
            'Other (Please Specify):Business Intelligence Engineer':'Database Developer',
            'Other (Please Specify):Research Associate':'Other',
            'Other (Please Specify):Analytics Manager':'Other',
            'Other (Please Specify):Manager of a team of Data Analysts':'Other',
            'Other (Please Specify):Analyst':'Data Analyst',
            'Other (Please Specify):Analytics Engineer':'Data Engineer',
            'Other (Please Specify):Analyst Primary Market Intelligence':'Data Analyst',
            'Other (Please Specify):software engineer':'Data Engineer',
            'Other (Please Specify):Data Integrity':'Database Developer',
            'Other (Please Specify):Financial Analyst':'Data Analyst',
            'Other (Please Specify):Database Manager':'Database Developer',
            'Other (Please Specify):Software Developer':'Data Engineer',
            'Other (Please Specify):Tableau admin':'Database Developer',
            'Other (Please Specify):Reporting Adm':'Other',
            'Other (Please Specify):Billing analyst':'Data Analyst',
            'Other (Please Specify):I work with data tools and can create simple dashboards but I am not a data scientist':'Data Engineer',
            'Other (Please Specify):Marketing Data Specialist':'Data Analyst',
            'Other (Please Specify):Jr. Data Scientist':'Data Scientist',
            'Other (Please Specify):Continuous Quality Improvement Specialist':'Other',
            'Other (Please Specify):PMO':'Other',
            'Other (Please Specify):System Administrator':'Database Developer',
            'Other (Please Specify):Teacher':'Other',
            'Other (Please Specify):Consultant':'Other',
            'Other (Please Specify):Business Intelligence Developer':'Database Developer',
            'Other (Please Specify):Informatics Specialist':'Other',
            'Other (Please Specify):Business Analys':'Data Analyst',
            'Other (Please Specify):Finance Analyst':'Data Analyst',
            'Other (Please Specify):Web Developer':'Other',
            'Other (Please Specify):Manager':'Other',
            'Other (Please Specify):Junior Software Engineer':'Data Engineer',
            'Other (Please Specify):Researchers':'Other',
            'Other (Please Specify):Senior Business Analyst':'Data Analyst',
            'Other (Please Specify):Data Coordinator':'Data Architect',
            'Other (Please Specify):Student working as a data analyst intern':'Data Analyst',
            'Other (Please Specify):Driver':'Other',
            'Other (Please Specify):Data manager':'Database Developer',
            'Other (Please Specify):GIS Analyst':'Data Analyst',
            'Other (Please Specify):Business Intelligence Analyst':'Data Analyst',
            'Other (Please Specify):BI consultant':'Other',
            'Other (Please Specify):DBA':'Database Developer',
            'Other (Please Specify):Data Steward':'Other',
            'Other (Please Specify):Technical consulta':'Other',
            'Other (Please Specify):Software Engineer, AI':'Data Engineer',
            'Other (Please Specify):Systems configuration':'Data Engineer',
            'Other (Please Specify):Sales & marketing':'Other',
            'Other (Please Specify):RF Engineer':'Other',
            'Other (Please Specify):Support Engineer':'Database Developer',
            'Other (Please Specify):Analytics Engineer':'Data Engineer',
            'Other (Please Specify):Account manager':'Other',
            'Other (Please Specify):Incident Manager':'Other',
            'Other (Please Specify):Product owner':'Other',
            'Other (Please Specify):Presales Engineer':'Other',
            'Other (Please Specify):Predictive Analyst':'Data Scientist',
            'Other (Please Specify):Ads operations':'Other',
            'Other (Please Specify):Power Bi Developer':'Database Developer',
            'Other (Please Specify):Software support':'Database Developer',
            'Other (Please Specify):Investigation specialist':'Other',
            'Other (Please Specify):Director':'Other',
            'Other (Please Specify):Data Manager':'Other',
            'Other (Please Specify):SAP Security Analyst':'Other',
            'Other (Please Specify):BI Manager':'Other',
            'Other (Please Specify):Data Scientist Intern':'Data Scientist',
            'Other (Please Specify):Director of Data Analytics':'Other',
            'Data Analyst':'Data Analyst',
            'Data Engineer':'Data Engineer',
            'Data Architect':'Data Architect',
            'Data Scientist':'Data Scientst',
            'Database Developer':'Database Developer',
            'Student/Looking/None':'Student/Looking/None',
            'Other (Please Specify)':'Other'}

df['q1_others'] = df['Q1'].apply(lambda x: x.strip()).map(title_map)
df['q1_others'].drop_duplicates()

0              Data Analyst
2             Data Engineer
3                     Other
6             Data Scientst
17     Student/Looking/None
36       Database Developer
220          Data Architect
294          Data Scientist
Name: q1_others, dtype: object

In [6]:
# Q3 (Yearly salary in USD)
# localizing context by converting USD to SGD & converting annual to monthly
# Taking ofx.com average conversion rate in Sept 2022 at roughly 1USD:1.41SGD
# https://www.ofx.com/en-sg/forex-news/historical-exchange-rates/usd/sgd/

salary_dict = {
    '0-40k':1,
    '41k-65k':2,
    '66k-85k':3,
    '86k-105k':4,
    '106k-125k':5,
    '125k-150k':6,
    '150k-225k':7,
    '225k+':8
}


sgd_annual = {
    1:'0-56k',
    2:'57k-92k',
    3:'92k-120k',
    4:'121k-148k',
    5:'149k-176k',
    6:'177k-212k',
    7:'213k-317k',
    8:'318k+'
}
sgd_monthly = {
    1:'0-4.6k',
    2:'4.7k-7.7k',
    3:'7.8k-10k',
    4:'10.1k-12.3k',
    5:'12.4k-14.7k',
    6:'14.8k-17.7k',
    7:'17.8k-26.4k',
    8:'26.5k+'
}
df['q3_cat'] = df['Q3'].map(salary_dict)
df['q3_sgd_annual'] = df['q3_cat'].map(sgd_annual)
df['q3_sgd_monthly'] = df['q3_cat'].map(sgd_monthly)
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q13,Q14,Q15,Q16,Q17,Q18,q1_others,q3_cat,q3_sgd_annual,q3_sgd_monthly
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,...,Remote Work,Male,26,United States,NaN,White or Caucasian,Data Analyst,5,149k-176k,12.4k-14.7k
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,...,Remote Work,Male,36,Canada,NaN,Asian or Asian American,Data Analyst,2,57k-92k,4.7k-7.7k
2,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,...,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,Data Engineer,1,0-56k,0-4.6k
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,...,Remote Work,Female,35,Canada,NaN,White or Caucasian,Other,7,213k-317k,17.8k-26.4k
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,...,Better Salary,Male,44,United States,NaN,Black or African American,Data Analyst,2,57k-92k,4.7k-7.7k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,8.0,5.0,6.0,6.0,5.0,...,Better Salary,Male,26,United States,Bachelors,White or Caucasian,Data Analyst,6,177k-212k,14.8k-17.7k
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,4.0,6.0,7.0,7.0,4.0,...,Better Salary,Male,21,United States,Bachelors,White or Caucasian,Data Scientist,1,0-56k,0-4.6k
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,...,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American,Student/Looking/None,1,0-56k,0-4.6k
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,...,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino,Data Engineer,1,0-56k,0-4.6k
629,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,8.0,7.0,6.0,7.0,6.0,...,Remote Work,Male,22,United States,Bachelors,Asian or Asian American,Data Analyst,2,57k-92k,4.7k-7.7k

In [7]:
# Q4 (Industry)
# Cleaning "others" section

df['Q4'] = df['Q4'].apply(lambda x: x.replace('Other (Please Specify)','Other'))
df['q4_others'] = np.where(df['Q4'].str.contains('Other'), 'Other',df['Q4'])
df['q4_others'].drop_duplicates()

0             Healthcare
1                Finance
2                  Other
9      Telecommunication
12                  Tech
13             Education
14          Construction
215          Real Estate
244          Agriculture
Name: q4_others, dtype: object

In [8]:
# Q5 (Favourite programming language)

df['q5_others'] = df['Q5'].apply(lambda x: x.strip())

other_lang = {
    'Other:SQL':'SQL',
    'Other:Sql':'SQL',
    'Other:Power bi':'Other',
    "Other:If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python":"R",
    'Other:Dont require':'Other',
    'Other:Knowledge of Excel and SQL yet':'Other',
    'Other:DAX':'Other',
    'Other:Stata':'Other',
    'Other:Altery':'Other',
    'Other:c#':'Other',
    'Other:None':'Other',
    'Other:Just started learning ':'Other',
    'Other:i mean, i mostly work in SQL and its variants?':'Other',
    'Other:SAS':'SAS',
    'Other:NA':'Other',
    'Other:None at the moment':'Other',
    "Other:Mostly use sql but that’s not programming language..":'SQL',
    'Other:Qlik sense script':'Other',
    'Other:sql': 'SQL',
    "Other:I don’t know any":'Other',
    'Other':'Other',
    "Other:I don't use programming in my role":'Other',
    'Other:Excel/SQL':'SQL',
    'Other:unknown':'Other',
    'Other:SQL': 'SQL',
    'Other:SQL Postgres':'SQL',
    'Other:Vba':'Other',
    'Other:Excel':'Other',
    'Other:I currently do not work with programming languages yet':'Other',
    'Other:Just started learning ':'Other',
    'Other:Mainly use Excel':'Other',
    'Other:SQL because that is all I know really well so far.':'SQL',
    'Other:VBA':'Other',
    'Other:MATLAB':'Other',
    'Other:Sql &  plsql':'SQL',
    'Other:Php':'Other',
    'Other:SAS SQL':'SQL',
    'Other:excel':'Other',
    'Other:I do analysis and create presentations based on datasets provided by others':'Other',
    'Other:Just started learning':'Other',
    'Python':'Python',
    'R':'R',
    'JavaScript':'JavaScript',
    'C/C++':'C/C++',
    'Java':'Java'
}

df['q5_others'] = df['q5_others'].map(other_lang)
df['q5_others'].drop_duplicates()

0          Python
1               R
7             SQL
28          Other
41     JavaScript
55          C/C++
268          Java
274           SAS
Name: q5_others, dtype: object

In [9]:
# Q6-11 (Satisfaction)

for col in range(6,12):
    df['Q'+str(col)] = df['Q'+str(col)].fillna('Declined to answer')
    
df['Q10'].drop_duplicates()

0                    5.0
1                    1.0
2                    7.0
4                    0.0
5                    3.0
6                    6.0
10                   8.0
14                   4.0
16                   2.0
21                  10.0
33                   9.0
53    Declined to answer
Name: Q10, dtype: object

In [10]:
# Q13 (Most important factor)

df['Q13'] = df['Q13'].apply(lambda x: x.replace('Other (Please Specify)','Other'))
df['q13_others'] = np.where(df['Q13'].str.contains('Other'), 'Other',df['Q13'])
df['q13_others'].drop_duplicates()

0                Remote Work
2     Good Work/Life Balance
4              Better Salary
14              Good Culture
26                     Other
Name: q13_others, dtype: object

In [11]:
# Q15 (Age)
# Binning Age
df['Q15'] = df['Q15'].astype(int)

df['q15_bins'] = np.where(
    (df['Q15']>=20) & (df['Q15']<=25), "20-25", np.where(
    (df['Q15']>=26) & (df['Q15']<=30), "26-30", np.where(
    (df['Q15']>=31) & (df['Q15']<=35), "31-35", np.where(
    (df['Q15']>=36) & (df['Q15']<=40), "36-40", np.where(
    df['Q15'] >= 41, ">41", "<20"
    )))))

df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q17,Q18,q1_others,q3_cat,q3_sgd_annual,q3_sgd_monthly,q4_others,q5_others,q13_others,q15_bins
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,...,NaN,White or Caucasian,Data Analyst,5,149k-176k,12.4k-14.7k,Healthcare,Python,Remote Work,26-30
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,...,NaN,Asian or Asian American,Data Analyst,2,57k-92k,4.7k-7.7k,Finance,R,Remote Work,36-40
2,Data Engineer,No,0-40k,Other:Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,...,NaN,Black or African American,Data Engineer,1,0-56k,0-4.6k,Other,Python,Good Work/Life Balance,20-25
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,...,NaN,White or Caucasian,Other,7,213k-317k,17.8k-26.4k,Finance,R,Remote Work,31-35
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,...,NaN,Black or African American,Data Analyst,2,57k-92k,4.7k-7.7k,Healthcare,R,Better Salary,>41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other:Retail,R,8.0,5.0,6.0,6.0,5.0,...,Bachelors,White or Caucasian,Data Analyst,6,177k-212k,14.8k-17.7k,Other,R,Better Salary,26-30
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other:Manufacturing,R,4.0,6.0,7.0,7.0,4.0,...,Bachelors,White or Caucasian,Data Scientist,1,0-56k,0-4.6k,Other,R,Better Salary,20-25
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,...,Bachelors,Asian or Asian American,Student/Looking/None,1,0-56k,0-4.6k,Tech,Python,Better Salary,26-30
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,...,Bachelors,Hispanic or Latino,Data Engineer,1,0-56k,0-4.6k,Tech,Python,Other,20-25
629,Data Analyst,No,41k-65k,Other:Automotive,Python,8.0,7.0,6.0,7.0,6.0,...,Bachelors,Asian or Asian American,Data Analyst,2,57k-92k,4.7k-7.7k,Other,Python,Remote Work,20-25

In [12]:
# Q16 (Country)

df['q16_others'] = df['Q16'].apply(lambda x: x.replace('Other (Please Specify):','').strip())

other_countries = {
    'Republic democratic of Congo': 'Africa',
    'Serbia': 'Europe',
    'Argentina': 'South America',
    'Niger':'Africa',
    'Nigeria':'Africa',
    'Kenya':'Africa',
    'Azerbaijan': 'Europe/Asia',
    'Sudan': 'Africa',
    'Japan': 'Asia',
    'Greece': 'Europe',
    'Perú': 'South America',
    'Spain': 'Europe',
    'Kenya': 'Africa',
    'Barbados': 'North America',
    'South Africa': 'Africa',
    'Colombia': 'South America',
    'Germany': 'Europe',
    'Bulgaria': 'Europe',
    'Turkey': 'Europe/Asia',
    'France': 'Europe',
    'Thailand': 'Asia',
    'Netherlands': 'Europe',
    'Denmark': 'Europe',
    'Brazil': 'South America',
    'Mexico': 'South America',
    'Chile': 'South America',
    'Australia': 'Australia',
    'Costa Rica': 'North America',
    'Vietnam':'Asia',
    'Portugal': 'Europe',
    'turkey': 'Europe/Asia',
    'Egypt': 'Africa/Asia',
    'Pakistan': 'Asia',
    'Ireland': 'Europe',
    'Poland': 'Europe',
    'Mozambique': 'Africa',
    'Israel': 'Asia',
    'Singapore': 'Asia',
    'Belgium': 'Europe',
    'UAE': 'Asia',
    'Somalia': 'Africa',
    'Kosovo': 'Europe',
    'Iraq': 'Asia',
    'Romania':'Europe',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Malaysia': 'Asia',
    'nigeria': 'Africa',
    'Ghana': 'Africa',
    'Portugsl': 'Europe',
    'Macedonia': 'Europe',
    'Irel': 'Europe',
    'Morocco': 'Africa',
    'Iran': 'Asia',
    'Ire': 'Europe',
    'Antigua': 'North America',
    'Venezuela': 'South America',
    'Brazik': 'South America',
    'South Korea': 'Asia',
    'Panama':'North America',
    'indonesia': 'Asia',
    'Angola': 'Africa',
    'Bangladesh': 'Asia',
    'Africa (Nigeria)': 'Africa',
    'Fin': 'Europe',
    'Austr': 'Australia',
    'Leba': 'Asia',
    'Saudi Arabia': 'Asia',
    'United Arab Emirates': 'Asia',
    'Zambia': 'Africa',
    'ghana': 'Africa',
    'Uruguay': 'South America',
    'Indonesia': 'Asia',
    'Hong Kong': 'Asia',
    'TUNISIA': 'Africa',
    'Sri lanka': 'Asia',
    'Kenua': 'Africa',
    'Liberia': 'Africa',
    'SG': 'Asia',
    'Aisa': 'Asia',
    'Argentine': 'South America',
    'Sweden': 'Europe',
    'Algeria': 'Africa',
    'Ireland': 'Asia',
    'uzb': 'Asia',
    'Oman': 'Asia',
    'United States': 'North America',
    'India': 'Asia',
    'Canada': 'North America',
    'United Kingdom': 'Europe',
}
df['q16_continent'] = df['q16_others'].map(other_countries).fillna('Decline to Answer')
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,q1_others,q3_cat,q3_sgd_annual,q3_sgd_monthly,q4_others,q5_others,q13_others,q15_bins,q16_others,q16_continent
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,...,Data Analyst,5,149k-176k,12.4k-14.7k,Healthcare,Python,Remote Work,26-30,United States,North America
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,...,Data Analyst,2,57k-92k,4.7k-7.7k,Finance,R,Remote Work,36-40,Canada,North America
2,Data Engineer,No,0-40k,Other:Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,...,Data Engineer,1,0-56k,0-4.6k,Other,Python,Good Work/Life Balance,20-25,Nigeria,Africa
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,...,Other,7,213k-317k,17.8k-26.4k,Finance,R,Remote Work,31-35,Canada,North America
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,...,Data Analyst,2,57k-92k,4.7k-7.7k,Healthcare,R,Better Salary,>41,United States,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other:Retail,R,8.0,5.0,6.0,6.0,5.0,...,Data Analyst,6,177k-212k,14.8k-17.7k,Other,R,Better Salary,26-30,United States,North America
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other:Manufacturing,R,4.0,6.0,7.0,7.0,4.0,...,Data Scientist,1,0-56k,0-4.6k,Other,R,Better Salary,20-25,United States,North America
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,...,Student/Looking/None,1,0-56k,0-4.6k,Tech,Python,Better Salary,26-30,Oman,Asia
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,...,Data Engineer,1,0-56k,0-4.6k,Tech,Python,Other,20-25,Costa Rica,North America
629,Data Analyst,No,41k-65k,Other:Automotive,Python,8.0,7.0,6.0,7.0,6.0,...,Data Analyst,2,57k-92k,4.7k-7.7k,Other,Python,Remote Work,20-25,United States,North America

In [13]:
# Q17 (Highest Education)
df['Q17'] = df['Q17'].fillna('Declined to answer')
    
df['Q17'].drop_duplicates()

0     Declined to answer
48           High School
51             Bachelors
52               Masters
56            Associates
75                   PhD
Name: Q17, dtype: object

In [14]:
# Q18 (Ethnicity)
df['Q18'] = df['Q18'].apply(lambda x: x.replace('Other (Please Specify)','Other'))
df['q18_others'] = np.where(df['Q18'].str.contains('Other'), 'Other',df['Q18'])
df['q18_others'].drop_duplicates()

0                             White or Caucasian
1                        Asian or Asian American
2                      Black or African American
9                             Hispanic or Latino
12                                         Other
224    Native Hawaiian or other Pacific Islander
464             American Indian or Alaska Native
Name: q18_others, dtype: object

In [15]:
df.columns = df.columns.map(new_names)
df

,Current_Role_raw,Switched careers into data,Current annual salary (USD),Industry_raw,Favourite programming language raw,Satisfication with current salary,Work/life balance satisfaction,Coworkers satisfaction,Mangement satisfaction,Upward mobility satisfaction,...,Salary Category,Current annual salary (SGD),Current monthly salary (SGD),Industry,Favourite programming language,Most important aspect in looking for new job,Age Group,Country,Continent,Ethnicity
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,...,5,149k-176k,12.4k-14.7k,Healthcare,Python,Remote Work,26-30,United States,North America,White or Caucasian
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,...,2,57k-92k,4.7k-7.7k,Finance,R,Remote Work,36-40,Canada,North America,Asian or Asian American
2,Data Engineer,No,0-40k,Other:Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,...,1,0-56k,0-4.6k,Other,Python,Good Work/Life Balance,20-25,Nigeria,Africa,Black or African American
3,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,...,7,213k-317k,17.8k-26.4k,Finance,R,Remote Work,31-35,Canada,North America,White or Caucasian
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,...,2,57k-92k,4.7k-7.7k,Healthcare,R,Better Salary,>41,United States,North America,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Other:Retail,R,8.0,5.0,6.0,6.0,5.0,...,6,177k-212k,14.8k-17.7k,Other,R,Better Salary,26-30,United States,North America,White or Caucasian
626,Other (Please Specify):Data Scientist Intern,No,0-40k,Other:Manufacturing,R,4.0,6.0,7.0,7.0,4.0,...,1,0-56k,0-4.6k,Other,R,Better Salary,20-25,United States,North America,White or Caucasian
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,...,1,0-56k,0-4.6k,Tech,Python,Better Salary,26-30,Oman,Asia,Asian or Asian American
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,...,1,0-56k,0-4.6k,Tech,Python,Other,20-25,Costa Rica,North America,Hispanic or Latino
629,Data Analyst,No,41k-65k,Other:Automotive,Python,8.0,7.0,6.0,7.0,6.0,...,2,57k-92k,4.7k-7.7k,Other,Python,Remote Work,20-25,United States,North America,Asian or Asian American

In [16]:
df.to_csv('Data_Professional_Survey_Clean.csv',index = False)